{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

        <section>
            <h1 class="">Hello, world!</h1>
            <h2>I have something to tell you about myself :)</h2>
            <div class="main-content">
<!--                <div class="ell1"><p class="ellipse">ambitious<br> and<br> hardworking<br> <b>professional</b></p></div>-->
<!--                <div class="ell2"><p class="ellipse">my name is <b>Erzhena</b></p></div>-->
<!--                <img width="200px" height="200px" class="round profile-pic" src="{% static 'img/profile.png' %}">-->
<!--                <div class="ell3"><p class="ellipse">web designer</p></div>-->
<!--                <div class="ell4"><p class="ellipse">young <b>developer</b></p></div>-->
                <img class="profile-main-page" src="{% static 'img/profile2.png' %}">

            </div>
        </section>
        <section>
            <h1>My skills</h1>
            <div>
                <div class="marg">
                    <h2>Programming languages</h2>
                    <div class="flex-row">
                        <p class="little-element">Python</p>
                        <p class="little-element">PHP</p>
                        <p class="little-element">JavaScript</p>
                        <p class="little-element">C#</p>
                    </div>
                </div>

                <div class="marg">
                    <h2>Tools</h2>
                    <div class="flex-row">
                        <p class="little-element">Figma</p>
                        <p class="little-element">Photoshop</p>
                        <p class="little-element">Blender</p>
                        <p class="little-element">Git</p>
                        <p class="little-element">Bootstrap</p>
                    </div>
                </div>

                <div class="marg">
                    <h2>Frameworks</h2>
                    <div class="flex-row">
                        <p class="little-element">Django</p>
                        <p class="little-element">.NET</p>
                    </div>
                </div>

                <div class="marg">
                    <h2>Languages</h2>
                    <div class="flex-row">
                        <p class="little-element">Russian (native)</p>
                        <p class="little-element">English (Intermediate - B1)</p>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <h1>Projects</h1>
            <h2>I have something to tell you about myself :)</h2>
            <div class="main-content">here is my profile pic</div>
        </section>
        <section>
            <h1>Get my resume as a document!</h1>
            <div class="main-content">here is my profile pic</div>
        </section>

{% endblock %}