@font-face{
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.ttf");
}

@font-face{
    font-family: "IBM Plex Mono";
    src: url("fonts/IBMPlexMono-Regular.ttf");
}

:root{
    --main-font: "JetBrains Mono", Arial;
    --second-font: "IBM Plex Mono", Arial;
    --second-color: #2DABD2;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--main-font);
}

.wrap{
    padding:0 5%;
}

.round{
    border-radius: 100px;
}

header{
    background-color: #C9C9C9;
}
.navbar{
    padding: 0;
}
.regular-icon{
    font-size: 15pt;
}

main{
    margin: 0;
}
section{
    padding: 50px 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


section > .main-content{
    display: flex;
}

h1{
    font-size: 64px;
}


profile-pic{

}

.ellipse{
    padding: 20px 30px;
    border: 2px var(--second-color) solid;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0;
}

.profile-main-page{
    margin: 30px auto;
    width: 70%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.little-element{
    display: inline-block;
    margin-left: 50px;
}

.marg{
    margin: 20px 0px;
}

