
:root{
    --main-font: "JetBrains Mono", Arial;
    --second-font: "IBM Plex Mono", Arial;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--main-font);
}

.wrap{
    padding:0 5%;
}

.round{
    border-radius: 100px;
}

header{
    background-color: #C9C9C9;
}
.navbar{
    padding: 0;
}
.regular-icon{
    font-size: 15pt;
}

main{
    margin: 0;
}
section{
    padding: 50px 0;
    min-height: 600px;
}

h1{
    font-size: 64px;
}

section{
    display: flex;
    flex-direction: column;
}

profile-pic{

}



